<div id = "navBar">

  <!-- LOGO -->
  <div id ="logo">AFTER HOURS</div>
  <div id = "afterHoursLogo"></div>
  <!-- SIGN UP | LOG IN -->
  <div id = "rightSideNav">
    <div id = "signUp"><a id= "signUp" href = 'user/new'>SIGN UP</a></div>
    <div id = "logIn"><a id = "logIn" href = '/welcome'>LOG IN</a></div>
  </div>


</div>
