<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/enter.css">

</head>
<body>


<div class="row">

  <div id = "welcomeLogo" class="col-md-6">
    <a href="/"><div id = "enter"></div></a>
  </div>

  <div id="welcomeIntro" class="col-md-6">
    <p>After Hours is for locals and travelers who are looking for a place to unwind after a long day of work or to meet up with some friends. Unlike other apps that review the entire restaurant, After Hours will give you information based on a venue's happy hour deals. Find great happy hour spots in your neighborhood now!</p>
  </div>
</div>

</body>
