<!DOCTYPE html>
<html>

<body>

  <main>
    <h3><%= message %></h3>
    <h4><%= error.status %></h4>
    <pre><%= error.stack %></pre>
  </main>

  <%- include('partials/scripts') %>
</body>
</html>
