body {
  color: white;
  background-image: url('../assets/brick_wall.jpg');
  background-color: black;
  background-size: cover;
  color: black;
}

#searchBox {
  width: 220px;
  height: 90px;
}

#main {
  height: 70%;
  width: 100%;
  position: relative;
/*  text-align: center;*/
}
