a {
  text-decoration: none !important;
/*  color: white !important;
  text-shadow: 0 0 0.1em #fff,
               0 0 0.3em #fff,
               0 0 0.6em #fff, !important;*/
  color: #999999 !important;
  text-shadow: 0 0 0.1em #000,
               0 0 0.2em #000, !important;
}

a#signUp:hover {
  color: white !important;
  text-shadow: 0 0 0.1em #fff,
               0 0 0.2em #fff,
               0 0 0.4em #77f,
               0 0 0.6em #00f,
               0 0 0.8em #00f,
               0 0 1.0em #00f,
               0 0 1.2em #00f, !important
}

a#logIn:hover {
  color: white !important;
  text-shadow: 0 0 0.1em #fff,
               0 0 0.2em #fff,
               0 0 0.4em #77f,
               0 0 0.6em #f00,
               0 0 0.8em #f00,
               0 0 1.0em #f00,
               0 0 1.2em #f00, !important
}

a#logOut {
  color: white !important;
  text-shadow: 0 0 1.2em #f00,
               0 0 1.0em #f00,
               0 0 0.8em #f00,
               0 0 0.6em #f00,
               0 0 0.4em #77f,
               0 0 0.3em #fff,
               0 0 0.2em #fff,
               0 0 0.1em #fff, !important
}

a#logOut:hover {
  text-decoration: none !important;
  color: #999999 !important;
  text-shadow: 0 0 0.1em #000,
               0 0 0.2em #000, !important;
}


#afterHoursLogo {
  height: 210px;
  width: 274px;
  margin-top: 27px;
  margin-left: 33px;
  background-image: url('../assets/logo-animate/after-hours-off.png');
  background-size: cover;
  -webkit-animation: logo_animate 7s ease-out infinite;
  -moz-animation: logo_animate 7s ease-out infinite;
  -o-animation: logo_animate 7s ease-out infinite;
  animation: logo_animate 7s ease-out infinite;
}


@keyframes logo_animate {
/*  0% {background-image: url('../assets/logo-animate/after-hours-off.png');}*/
  0% {background-image: url('../assets/logo-animate/after-hours-off.png');}
  15% {background-image: url('../assets/logo-animate/A-after-hours.png');}
  20% {background-image: url('../assets/logo-animate/f-after-hours.png');}
  25% {background-image: url('../assets/logo-animate/t-after-hours.png');}
  30% {background-image: url('../assets/logo-animate/e-after-hours.png');}
  36% {background-image: url('../assets/logo-animate/r1-after-hours.png');}
  39% {background-image: url('../assets/logo-animate/H-after-hours.png');}
  47% {background-image: url('../assets/logo-animate/o-after-hours.png');}
  54% {background-image: url('../assets/logo-animate/u-after-hours.png');}
  62% {background-image: url('../assets/logo-animate/r2-after-hours.png');}
  80% {background-image: url('../assets/logo-animate/s-after-hours.png');}
  85% {background-image: url('../assets/logo-animate/after-hours-off.png');}
  90% {background-image: url('../assets/logo-animate/after-hours-on.png');}
  95% {background-image: url('../assets/logo-animate/after-hours-off.png');}
  100% {background-image: url('../assets/logo-animate/after-hours-on.png');}
}

#signUp, #logIn, #logOut {
/*  border: 1px solid blue;*/
  width: 110px;
  height: 70px;
  font-family: 'Dosis', sans-serif;
  font-size: 45px;
}

#signUp {
  padding-right: 7px;
}
#logIn, #logOut {
  margin-left: 20px;
}

#logOut {
  margin-left: 40px;
}
#rightSideNav {
  height: 70px;
  width: 252px;
/*  border: 1px solid red;*/
  display: flex;
  position: absolute;
  right: 95px;
  top: 30px;
  padding: 4px;
}

#navBar {
  width: 100%;
  height: 70px;
/*  border: 1px solid white;*/
  position: relative;
  display: flex;

}

#searchBar {
  width: 380px;
  height: 80px;
/*  border: 1px solid blue;*/
  position: relative;
  display: flex;
  top: 27px;
  margin: 0 auto;
  right: 90px;

}

