/*#restaurantForm {
  width: 600px;
  font-family: Arial;
  color: white !important;
  border: 1px solid blue;
  background-image: url('../assets/chalkboard.png');
  background-size: cover;
}
.form-control{
  width: 70%;
}
.time{
  width: 20%;
}

input {
  border-radius: 4px;
}

#addHappyHour {
  color: white !important;
  border-radius: 4px;
}*/
.form-container {
  background-color: rgba(0,0,0,0.6) !important;
  border: 3px solid white;
  box-shadow: 0 0 1.2em #f00,
               0 0 1.0em #f00,
               0 0 0.8em #f00;
  border-radius: 7px;
  padding:48px;
}
label {
  color: white !important;
  font-family: 'Montserrat', sans-serif;
}

#addHappyHourTitle {
  font-family: 'Fredoka One', cursive;
  font-size: 60px;
  text-shadow: 0 0 1.2em #f00,
               0 0 1.0em #f00,
               0 0 0.8em #f00,
               0 0 0.6em #f00,
               0 0 0.4em #79f,
               0 0 0.3em #fff,
               0 0 0.2em #fff,
               0 0 0.1em #fff, !important;

}

input {
  background-color: transparent !important;
}

.form-control {
  background-color: transparent !important;
  color: white !important;
  border: 1px solid white;
  border-radius: 3px;
  width: 500px !important;
  padding: 10px;
  margin: 0 auto;
}

#newRestaurantButton {
  height: 53px;
  margin: 23px;
  width: 235px;
  border-radius: 8px;
  margin-left: 132px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}


.form-group {
 font-family: 'Montserrat', sans-serif;
}
