#restaurantForm {
  width: 600px;
  background-color: maroon;
  font-family: Arial;
  color: white;
}
.form-control{
  width: 70%;
}
.time{
  width: 20%;
}

input {
  border-radius: 4px;
}

#addHappyHour {
  color: white;
  border-radius: 4px;
}
