[data-sidebar] {
    display: none;
    position: fixed;
    height: 100%;
    z-index: 100;
    color: white;
    border: 1px solid blue;
}

/* Additional styles */

aside {
    background-color: rgba(0,0,0,0.7);
    border-radius: 4px;
    width: 250px;
    margin-top: 20px;
    border: 1px solid blue;
}

.padding {
    padding: 2em;
}
