.form-container#intro {
  background-color: rgba(0,0,0,0.8) !important;
  border-radius: 7px;
  padding: 35px;
}

#checkbox {
  padding-left: 50px;
}
.modal-dialog {
  border: 1px solid white;
  background-color: black;
  border-radius: 10px;
}
label {
  color: white !important;
  font-family: 'Montserrat', sans-serif;
}

.modal-header {
  text-align: center;
}

#addHappyHourTitle {
  font-family: 'Fredoka One', cursive;
  font-size: 60px;
  text-shadow: 0 0 1.2em #f00,
               0 0 1.0em #f00,
               0 0 0.8em #f00,
               0 0 0.6em #f00,
               0 0 0.4em #79f,
               0 0 0.3em #fff,
               0 0 0.2em #fff,
               0 0 0.1em #fff, !important;

}

input {
  background-color: transparent !important;
}
#mySignUpModal, #myLoginModal {
  padding: 3px;
}
.form-control {
  background-color: transparent !important;
  color: white !important;
  border: 1px solid white;
  border-radius: 3px;
  width: 500px !important;
  padding: 10px;
  margin: 0 auto;
}

#submit {
  height: 53px;
  margin: 23px;
  width: 235px;
  background-color: transparent;
  color: white !important;
  border-radius: 8px;
  margin-left: 132px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}


.form-group {
 font-family: 'Montserrat', sans-serif;
}
