<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>After Hours</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="/public/css/sidebar.css">
    </head>

        <aside data-sidebar>
            <div  class="padding">
                <br>
                <a href="#" data-sidebar-button>Hide Sidebar</a>
                <br>
                <br>
                <a href="/restaurants/new">Add a Happy Hour</a>
                <br>
                <a href="/restaurants/all">View all Happy Hours</a>
                <br>
                <a href="/messenger">Messenger</a>
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#updateModal">Edit Profile</button>
                <!-- <a class="btn btn-link" role="button" id= "updateProfile" data-toggle="modal" data-target="#updateModal">Edit Profile</a> -->

            </div>
        </aside>

        <main>
            <div class="padding">
                <a href="#" data-sidebar-button>Show Sidebar</a>
            </div>
            <!-- "overlay" is linked to the closing 'hide sidebar'. if commented out, sidebar will not close. -->
            <div class="overlay" data-sidebar-overlay></div>
        </main>

        <script src="public/js/sidebar.js"></script>
</html>
