
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/public/css/sidebar.css">
    </head>

        <aside data-sidebar>
            <div  class="padding">
                <br>
                <a href="#" data-sidebar-button><div id="collapse"><img class = "sideBarIcon" src = "../../../public/assets/sidebar_icons/icon-collapse.png"></div></a>
                <br>
                <br>
                <div class="navBarTab"><a href="/restaurants/all"><img class="sideBarIcon" id="martini" src = "../../../public/assets/sidebar_icons/icon-martini-glass.png">  View All Happy Hours</a></div>
                <br>
                  <div class="navBarTab"><a id="navButton" class="btn btn-link" role="button" id= "addHH" data-toggle="modal" data-target="#HHModal"><img class="sideBarIcon" id="add" src = "../../../public/assets/sidebar_icons/icon-add.png">Add a Happy Hour</a></div>
                <br>
                <div class="navBarTab"><a href="/messenger"><img class="sideBarIcon" id="messenger" src = "../../../public/assets/sidebar_icons/icon-messenger.png">Messenger</a></div>
                <br>
                <div class="navBarTab"><a id="navButton"class="btn btn-link" role="button" id= "editProfile" data-toggle="modal" data-target="#updateModal"><img class="sideBarIcon" id="pencil" src = "../../../public/assets/sidebar_icons/icon-pencil.png">Edit Profile</a>

            </div>
        </aside>


            <div class="padding">
             <div id="sidebar-pull"><a href="#" data-sidebar-button><img class = "sideBarIcon"src = "../../../public/assets/sidebar_icons/icon-sidebar.png"></a></div>
            </div>
            <!-- "overlay" is linked to the closing 'hide sidebar'. if commented out, sidebar will not close. -->
            <div class="overlay" data-sidebar-overlay></div>


  <script src="public/js/sidebar.js"></script>
</html>

