
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="/public/css/sidebar.css">
    </head>

        <aside data-sidebar>
            <div  class="padding">
                <br>
                <a href="#" data-sidebar-button>Hide Sidebar</a>
                <br>
                <br>
                <a href="/restaurants/all">View all Happy Hours</a>
                <br>
                <a href="/messenger">Messenger</a>
                <br>
                <a class="btn btn-link" role="button" id= "addHH" data-toggle="modal" data-target="#HHModal">Add a Happy Hour</a>
                <br>
                <a class="btn btn-link" role="button" id= "editProfile" data-toggle="modal" data-target="#updateModal">Edit Profile</a>

            </div>
        </aside>

        <main>
            <div class="padding">
                <a href="#" data-sidebar-button>Show Sidebar</a>
            </div>
            <!-- "overlay" is linked to the closing 'hide sidebar'. if commented out, sidebar will not close. -->
            <div class="overlay" data-sidebar-overlay></div>
        </main>

  <script src="public/js/sidebar.js"></script>
</html>
