<<<<<<< HEAD
<div id = "main">
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id = "map"> </div>
</div>
=======
<div id = "map" style="height: 330px; width: 565px;"></div>
>>>>>>> 389fe8d019fcd61b980ef5499f59dd42786e8a13
<script src="/public/js/google-maps.js" type="text/javascript" charset="utf-8"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZYqdGCiP3a1xbvJsYYbAt5ZEoe896axU&libraries=places&callback=initMap"
    async defer>
</script>

