<div id = "main">
<div id = "map" style="height: 430px; width: 600px;"></div>
</div>
<script src="/public/js/google-maps.js" type="text/javascript" charset="utf-8"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZYqdGCiP3a1xbvJsYYbAt5ZEoe896axU&callback=initMap"
    async defer>
</script>
