<div id = "map" style="height: 330px; width: 565px;"></div>
<script src="/public/js/google-maps.js" type="text/javascript" charset="utf-8"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZYqdGCiP3a1xbvJsYYbAt5ZEoe896axU&signed_in=true&callback=initMap"
    async defer>
</script>
