<head>
    <link rel="stylesheet" type="text/css" href="/public/css/map.css">
</head>

<div id = "main">
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
<div id = "map"> </div>
</div>

<script src="/public/js/google-maps.js" type="text/javascript" charset="utf-8"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZYqdGCiP3a1xbvJsYYbAt5ZEoe896axU&libraries=places&callback=initMap"
    async defer>
</script>

