<head>
    <link rel="stylesheet" type="text/css" href="/public/css/restaurant-list.css">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One|Josefin+Sans:400,600|Quicksand' rel='stylesheet' type='text/css'>
</head>
<button id="see-more-results" class="more-results" type="button" onclick="moreResults(); return false">SEE MORE</button>
<div id = "my_restaurant_list">
<!--   <div id="myHappyHours">MY HAPPY HOURS</div> -->
</div>
