<head>
    <% if(user != undefined){ %>

  <!-- OUR LOG IN  -->
    <% } else if( curr_user ){ %>

    <% } else { %> */
    <link rel="stylesheet" type="text/css" href="/public/css/footer_off.css">
        <% } %>
</head>

<div class = "footer">
  <div id = "icons">
    <a class = "icon" href="https://www.facebook.com/afterhours000"><div id = "facebook-icon" class = "footer-icon"></div></a>
    <a class = "icon" href="https://twitter.com/search?q=happy%20hour&src=typd"><div id = "twitter-icon" class = "footer-icon"></div></a>
    <a class = "icon" href="https://www.instagram.com/explore/tags/happyhour/"><div id = "instagram-icon" class= "footer-icon"></div></a>
    <a class = "icon" href="https://www.pinterest.com/search/pins/?q=happy%20hour&rs=typed&term_meta%5B%5D=happy%7Ctyped&term_meta%5B%5D=hour%7Ctyped"><div id = "pinterest-icon" class= "footer-icon"></div></a>
  </div>
</div>
<%- include('../scripts/scripts') %>
