<head>

    <link rel="stylesheet" type="text/css" href="/public/css/footer.css">
</head>
<div class = "footer">
  <div id = "icons">
    <div id = "facebook-icon" class = "footer-icon">FB</div>
    <div id = "twitter-icon" class = "footer-icon">TW</div>
    <div id = "instagram-icon" class= "footer-icon">IG</div>
    <div id = "pinterest-icon" class= "footer-icon">PI</div>
  </div>
</div>
<%- include('../scripts/scripts') %>
