<div id = "navBar">
  <!-- LOGO -->
  <div id = "afterHoursLogo"></div>
  <!-- Search Box -->
  <div id="searchBox">
    <input type="search" id="search" placeholder="Enter city or address">
    <button onclick="myFunction()">Let's Get Drunk!</button>
  </div>

  <div id = "rightSideNav">
  <% if( typeof curr_user != 'undefined'){ %>
    <h5> Welcome: <%= curr_user %> </h5>
    <div id = "logOut"><a class="btn btn-link" role="button" id= "logOut" href="/logout">LOG OUT</a></div>

  <% } else{ %>
        <div id = "signUp"><a class="btn btn-link" role="button" id= "signUp" data-toggle="modal" data-target="#mySignupModal">SIGN UP</a></div>
        <div id = "logIn"><a class="btn btn-link" role="button" id= "logIn" data-toggle="modal" data-target="#myLoginModal">LOG IN</a></div>
  <% } %>
  </div>
</div>
