<head>

    <link rel="stylesheet" type="text/css" href="/public/css/nav_bar.css">
</head>
<div id = "navBar">
  <!-- LOGO -->
  <a href="/"><div id = "afterHoursLogo"></div></a>

  <div id = "rightSideNav">
  <!-- FACEBOOK LOG IN -->
    <% if(user != undefined){ %>
          <% if(user.fb != '{}'){ %>
<!--             <h5>Welcome <%= user.fb.firstName %></h5> -->
            <div id = "logOut"><a class="btn btn-link" role="button" id= "logOut" href="/logout">LOG OUT </a></div>
          <% } %>
  <!-- OUR LOG IN  -->
    <% } else if( curr_user ){ %>
<!--           <h5>Welcome <%= curr_user %></h5> -->
          <div id = "logOut"><a class="btn btn-link" role="button" id= "logOut" href="/logout">LOG OUT
          </a></div>

    <% } else { %>

          <div id = "signUp"><a class="btn btn-link" role="button" id= "signUp" data-toggle="modal" data-target="#mySignupModal">SIGN UP</a></div>
            <div id = "logIn"><a class="btn btn-link" role="button" id= "logIn" data-toggle="modal" data-target="#myLoginModal">LOG IN</a></div>
    <% } %>
  </div>
</div>
<script src="/public/js/google-maps.js" type="text/javascript" charset="utf-8"></script>
