<div id = "navBar">
  <!-- LOGO -->
  <div id = "afterHoursLogo"></div>
  <!-- Search Box -->


  <div id = "rightSideNav">
    <% if(user != undefined){ %>
          <% if(user.fb != '{}'){ %>
            <h5>Welcome <%= user.fb.firstName %></h5>
            <div id = "logOut"><a class="btn btn-link" role="button" id= "logOut" href="/logout">LOG OUT </a></div>
          <% } %>

    <% } else if( curr_user ){ %>
          <h5>Welcome <%= curr_user %></h5>
          <div id = "logOut"><a class="btn btn-link" role="button" id= "logOut" href="/logout">LOG OUT
          </a></div>

    <% } else { %>
          <div id = "signUp"><a class="btn btn-link" role="button" id= "signUp" data-toggle="modal" data-target="#mySignupModal">SIGN UP</a></div>
            <div id = "logIn"><a class="btn btn-link" role="button" id= "logIn" data-toggle="modal" data-target="#myLoginModal">LOG IN</a></div>
    <% } %>
  </div>
<<<<<<< HEAD

=======
>>>>>>> 389fe8d019fcd61b980ef5499f59dd42786e8a13
</div>
