<div id = "navBar">

  <!-- LOGO -->
  <div id = "afterHoursLogo"></div>
  <!-- SIGN UP | LOG IN -->


  <div id = "rightSideNav">
  <% if( curr_user ){ %>
    <h5> Welcome: <%= curr_user %></h5>
    <div id = "logIn"><a class="btn btn-link" role="button" id= "logIn" href="/logout">LOG OUT</a></div>

  <% } else{ %>
        <div id = "signUp"><a class="btn btn-link" role="button" id= "signUp" data-toggle="modal" data-target="#mySignupModal">SIGN UP</a></div>
        <div id = "logIn"><a class="btn btn-link" role="button" id= "logIn" data-toggle="modal" data-target="#myLoginModal">LOG IN</a></div>
  <% } %>
  </div>


</div>
