<head>
    <link rel="stylesheet" type="text/css" href="/public/css/search_bar.css">
</head>

<div class="container">
  <div class="row">
        <div class="col-sm-4 col-sm-offset-3">
            <div id="locationSearch">
                <div class="input-group stylish-input-group">
                    <input type="text" class="form-control"  placeholder="Enter location" >
                    <span class="input-group-addon">
                        <button id="butt" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
  </div>
</div>


