<head>
  <link rel="stylesheet" type="text/css" href="/public/css/search_bar.css">
</head>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div id="locationSearch">
        <div class="stylish-input-group">
          <form name="yelp-search" onsubmit="searchYelp(); return false">
            <input id="search-bar" type="text" class="form-control"  placeholder="Enter location" >
            <input type="time" id="search-time" class="form-control" name="start_time">
            <input id="search-button" type="submit" class="form-control" value="Search">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


