<head>
  <link rel="stylesheet" type="text/css" href="/public/css/search_bar.css">
</head>

<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div id="locationSearch">
        <div class="stylish-input-group">
          <form name="yelp-search" onsubmit="searchYelp(); return false">
            <input id="search-bar" type="text" class="form-control"  placeholder="Enter location" >
            <input type="time" id="search-time" class="form-control" name="start_time">
          </form>
<!--           <span id="sizing-addon" class="input-group-addon" onclick="searchYelp()">
            <button id="search-button" class="glyphicon glyphicon-search" onclick="searchYelp()">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span> -->
        </div>
      </div>
    </div>
  </div>
</div>


