<!-- LANDING PAGE OF USERS AFTER LOG IN -->
<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="/css/main.css">

<head>
<header>
    <%- include('../partials/navigation_bar') %>
<header>
<body>

  <%- include('../partials/scripts') %>
</body>
</html>
