<!-- LANDING PAGE BEFORE LOG IN -->
<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="/css/landing_page.css">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One|Dosis:500,600|Asap|Josefin+Sans:400,700,600,600italic' rel='stylesheet' type='text/css'>

</head>

<body>
<!-- NAV BAR -->
  <%- include('../partials/navigation_bar') %>

<!-- GOOGLE MAP -->
  <%- include('../partials/map') %>

<!-- FOOTER / JS -->
  <%- include('../partials/footer') %>
  <%- include('../partials/scripts') %>

</body>

</html>
