<!-- LANDING PAGE BEFORE LOG IN -->
<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="/css/landing_page.css">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One|Dosis:500,600|Asap|Josefin+Sans:400,700,600,600italic' rel='stylesheet' type='text/css'>

</head>

<body>
  <!-- NAV BAR -->
  <div id = "navBar">

    <!-- LOGO -->
    <div id = "afterHoursLogo"></div>
    <!-- SIGN UP | LOG IN -->
    <div id = "rightSideNav">
      <div id = "signUp"><a id= "signUp" href = '/welcome'>SIGN UP</a></div>
      <div id = "logIn"><a id = "logIn" href = '/welcome'>LOG IN</a></div>
    </div>


  </div>

<!-- GOOGLE MAP -->
  <div id = "main">
    <div id = "googleMapLanding"></div>
  </div>
  <%- include('../partials/footer') %>
  <%- include('../partials/scripts') %>

</body>

</html>
