<!-- PROFILE PAGE OF RESTAURANT -->
<!DOCTYPE html>
 <html>
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One|Dosis:500,600|Asap|Josefin+Sans:400,700,600,600italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Delius+Unicase' rel='stylesheet' type='text/css'>
 </head>

<body>
<!-- NAV BAR -->
   <%- include('../partials/header-footer-nav/navigation_bar') %>
<div id="allRestaurants">
<!-- RESTAURANT SHOW INFO -->

   <%- include('../partials/restaurants/all') %>

</div>
<!-- GOOGLE MAP -->
<!-- FOOTER / JS -->
<a><img src = "../../public/assets/icon-scroll.png" id="scroll"></a>
   <%- include('../partials/header-footer-nav/footer') %>
  <script src="public/js/main.js"></script>
</body>

</html>


