<head>
    <link rel="stylesheet" type="text/css" href="/public/css/restaurant_form.css">
</head>

<form id = "restaurantForm" method="post" action="/restaurants/create">

  <!-- Venue Name -->
  <div>
    <strong>Name:</strong>
    <input type="text" name="name" placeholder="Enter your venue name...">
  </div>
 <!-- IMAGE URI -->
  <div>
    <strong>Image Link:</strong>
    <input type="text" name="image" placeholder="Enter Image Link">
  </div>

  <!-- Happy Hour Days + Times -->
  <div id = "times">
    <strong>Happy Hour Days + Times:</strong>
      <br>
      <input type="checkbox" name="monday" value="true">Monday
      <input type="checkbox" name="tuesday" value="true">Tuesday
      <input type="checkbox" name="wednesday" value="true">Wednesday
      <input type="checkbox" name="thursday" value="true">Thursday
      <input type="checkbox" name="friday" value="true">Friday
      <input type="checkbox" name="saturday" value="true">Saturday
      <input type="checkbox" name="sunday" value="true">Sunday
      <br>
<!--     <strong>Start Time:</strong><input type="time" name="usr_time">
    <strong>End Time:</strong><input type="time" name="usr_time"> -->
     <strong>Start Time:</strong><input type="time" name="start_time">
     <strong>End Time:</strong><input type="time" name="end_time"></br>
     <input id="addTime" type="submit" value="Add Happy Hour!">
  </div>
  <strong>Is this for drinks or food?</strong>
  <input type="checkbox" name="drinks" value="true">Drinks
  <input type="checkbox" name="food" value="true">Food
  <!-- Restaurant Information -->
  <div>
    <strong>Venue Info</strong>
    <br>
    <label>Address</label>
    <input type="text" name="address" placeholder="123 Street City, State Zipcode"></br>

    <label>Phone</label>
    <input type="text" name="phone" placeholder="(123) 456-7890"></br>

    <label>Website</label>
    <input type="url" name="website" placeholder="http://www.your_website.com"></br>

    <label>Yelp Page</label>
    <input type="url" name="yelpUrl" placeholder="http://www.yelp.com/...">
  </div>

  </div>

  <!-- Business Owner? -->
<!--   <label>Are you the owner of this venue?
  <input type="radio" name="owner" value="yes">Yes
  <input type="radio" name="owner" value="no">No -->

  <!-- Submit -->
  <div>
    <input id="addHappyHour" type="submit" value="Submit">
  </div>


</form>
