<!-- PROFILE PAGE OF RESTAURANT -->
<body>
<!-- NAV BAR -->
<%- include('partials/header-footer-nav/navigation_bar') %>

<!-- </div> -->


</body>
<!-- GOOGLE MAP -->
  <%- include('partials/maps/map') %>

<!-- FOOTER / JS -->
  <%- include('partials/header-footer-nav/footer') %>

</body>

</html>

<%= restaurant.name %>
